:root {
  --color-default: #364d59;
  --color-primary: #feb900;
  --color-secondary: #52565e;
}

.footer {
  background-color: #daf5ff;
}
.footer .container {
  height: auto;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content h4 {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content ul li {
  padding: 8px 0;
}

.footer .footer-content ul li:first-child {
  padding-top: 0;
}

footer .footer-content ul a {
  color: var(--color-primary);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
.footer .footer-content ul a:hover {
  color: var(--color-secondary);
}

.footer .footer-legal .copyright {
  padding-top: 30px;
  border-top: 1px solid var(--color-secondary);
}

.footer .footer-legal .credits {
  padding-top: 4px;
  font-size: 13px;
  color: #fff;
}

.footer .footer-legal .credits a {
  color: var(--color-primary);
}
